<%- include('../layouts/headeradmin.ejs') %>

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <!-- <div class="p-0 d-flex justify-content-between container-fluid">
                <h1 class="mt-4 mb-3">Category</h1>
                <div class="d-flex align-items-center">
                    <a href="/admin/addCategory" class="rounded-3 btn btn-primary">
                        <i class="fa-solid fa-plus"></i> Add Category
                    </a>                
                </div>
            </div> -->
            <div class="p-0 d-flex  container-fluid">
                <h1 class="mt-4 mb-3">Category</h1>
                <div class="d-flex justify-content-end container-fluid">
                    <div class="d-flex align-items-center me-3">
                        <a href="/admin/addCategory" class="rounded-3 btn btn-primary">
                            <i class="fa-solid fa-plus"></i> Add Category
                        </a>                
                    </div>
                    <div class="d-flex align-items-center">
                        <a href="/admin/offerCategory" class="rounded-3 btn btn-primary">
                            <i class="fa-solid fa-plus"></i>Category Offer
                        </a>                
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Table
                </div>
                <div class="card-body justify-content-around">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Category Name</th>
                                <th>Availability</th>
                                <th>Added</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Image</th>
                                <th>Category Name</th>
                                <th>Availability</th>
                                <th>Added</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <% category.forEach(category => { %>
                                <tr>
                                    <td><img style="width: 40px; height: 40px; border-radius: 5px; border: 1px solid #747474;" src="/assets/images/Products/<%= category.image %>" alt="<%= category.image %>">&nbsp;</td>
                                    <td><%= category.name %></td>
                                    <td>
                                        <div class="d-flex mt-2 justify-content-center">
                                        <% if( category.is_listed) { %>
                                            <div class="rounded-3 w-50 text-center bg-success text-white mx-2">Listed</div>
                                        <% } 
                                        else { %>
                                            <div class="rounded-3 w-50 text-center bg-danger text-white mx-2">Unlisted</div>
                                        <% } %>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mt-2">
                                            <%= category.categoryAddDate.toLocaleString('en-US') %>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-row justify-content-center gap-1">
                                            <a href="/admin/edit-category?id=<%= category._id %>" type="button" class="p-2 btn btn-warning"><span class="d-flex align-items-center material-symbols-outlined">
                                                edit
                                                </span></a>
                                            <% if( category.is_listed) { %>
                                                <a href="/admin/unlist-category?id=<%= category._id %>" type="button" class="p-2 btn btn-danger"><span class="d-flex align-items-center material-symbols-outlined">
                                                    close </span></a>
                                            <% } 
                                            else { %>
                                                <a href="/admin/list-category?id=<%= category._id %>" type="button" class="p-2 btn btn-success"><span class="d-flex align-items-center material-symbols-outlined">
                                                    publish
                                                    </span>
                                                </a>
                                            <% } %>                               
                                        </div>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <script>
        $(document).ready(function() {
         
            $('#datatablesSimple').DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": 3 }
                ]
            });
        });
    </script>
<%- include('../layouts/footeradmin.ejs') %>